<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Absence_ManagementBinding"/>
        <binding name="Academic_AdvisingBinding"/>
        <binding name="Academic_FoundationBinding"/>
        <binding name="AdmissionsBinding"/>
        <binding name="Benefits_AdministrationBinding"/>
        <binding name="Campus_EngagementBinding"/>
        <binding name="Cash_ManagementBinding"/>
        <binding name="CompensationBinding"/>
        <binding name="Compensation_ReviewBinding"/>
        <binding name="Dynamic_Document_GenerationBinding"/>
        <binding name="External_IntegrationsBinding"/>
        <binding name="Financial_AidBinding"/>
        <binding name="Financial_ManagementBinding"/>
        <binding name="Human_ResourcesBinding"/>
        <binding name="Identity_ManagementBinding"/>
        <binding name="IntegrationsBinding"/>
        <binding name="InventoryBinding"/>
        <binding name="NotificationBinding"/>
        <binding name="PayrollBinding"/>
        <binding name="Payroll_CANBinding"/>
        <binding name="Payroll_FRABinding"/>
        <binding name="Payroll_GBRBinding"/>
        <binding name="Payroll_InterfaceBinding"/>
        <binding name="Performance_ManagementBinding"/>
        <binding name="Professional_Services_AutomationBinding"/>
        <binding name="RecruitingBinding"/>
        <binding name="Resource_ManagementBinding"/>
        <binding name="Revenue_ManagementBinding"/>
        <binding name="Settlement_ServicesBinding"/>
        <binding name="StaffingBinding"/>
        <binding name="Student_FinanceBinding"/>
        <binding name="Student_RecordsBinding"/>
        <binding name="Student_RecruitingBinding"/>
        <binding name="TalentBinding"/>
        <binding name="Tenant_Data_TranslationBinding"/>
        <binding name="Time_TrackingBinding"/>
        <binding name="Workday_ConnectBinding"/>
        <binding name="Workday_ExtensibilityBinding"/>
        <binding name="Workforce_PlanningBinding"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="wdBinding">
          <security authenticationMode="UserNameOverTransport" enableUnsecuredResponse="true" />
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <!--
        To properly configure this, you need to replace {YOUR TENANT URL} with your tenant URl
        i.e. https://wd2-impl-services1.workday.com/ccx/service/{TENANT_NAME_HERE}
        optionally, you can leave the address as is and set the enpoint address in code.  see program.cs for an example
      -->
      <endpoint address="/Absence_Management/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Absence_ManagementService.Absence_ManagementPort" name="Absence_Management" />
      <endpoint address="/Academic_Advising/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Academic_AdvisingService.Academic_AdvisingPort" name="Academic_Advising" />
      <endpoint address="/Academic_Foundation/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Academic_FoundationService.Academic_FoundationPort" name="Academic_Foundation" />
      <endpoint address="/Admissions/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="AdmissionsService.AdmissionsPort" name="Admissions" />
      <endpoint address="/Benefits_Administration/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Benefits_AdministrationService.Benefits_AdministrationPort" name="Benefits_Administration" />
      <endpoint address="/Campus_Engagement/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Campus_EngagementService.Campus_EngagementPort" name="Campus_Engagement" />
      <endpoint address="/Cash_Management/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Cash_ManagementService.Cash_ManagementPort" name="Cash_Management" />
      <endpoint address="/Compensation_Review/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Compensation_ReviewService.Compensation_ReviewPort" name="Compensation_Review" />
      <endpoint address="/Compensation/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="CompensationService.CompensationPort" name="Compensation" />
      <endpoint address="/Dynamic_Document_GenerationService/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Dynamic_Document_GenerationService.Dynamic_Document_GenerationPort" name="Dynamic_Document_GenerationService" />
      <endpoint address="/External_Integrations/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="External_IntegrationsService.External_IntegrationsPort" name="External_Integrations" />
      <endpoint address="/Financial_Aid/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Financial_AidService.Financial_AidPort" name="Financial_Aid" />
      <endpoint address="/Financial_Management/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Financial_ManagementService.Financial_ManagementPort" name="Financial_Management" />
      <endpoint address="/Human_Resources/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Human_ResourcesService.Human_ResourcesPort" name="Human_Resources" />
      <endpoint address="/Identity_Management/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Identity_ManagementService.Identity_ManagementPort" name="Identity_Management" />
      <endpoint address="/Integrations/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="IntegrationsService.IntegrationsPort" name="Integrations" />
      <endpoint address="/Inventory/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="InventoryService.InventoryPort" name="Inventory" />
      <endpoint address="/Notification/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="NotificationService.NotificationPort" name="Notification" />
      <endpoint address="/Payroll_CAN/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Payroll_CANService.Payroll_CANPort" name="Payroll_CAN" />
      <endpoint address="/Payroll_FRA/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Payroll_FRAService.Payroll_FRAPort" name="Payroll_FRA" />
      <endpoint address="/Payroll_GBR/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Payroll_GBRService.Payroll_GBRPort" name="Payroll_GBR" />
      <endpoint address="/Payroll_Interface/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Payroll_InterfaceService.Payroll_InterfacePort" name="Payroll_Interface" />
      <endpoint address="/Payroll/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="PayrollService.PayrollPort" name="Payroll" />
      <endpoint address="/Performance_Management/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Performance_ManagementService.Performance_ManagementPort" name="Performance_Management" />
      <endpoint address="/Professional_Services_Automation/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Professional_Services_AutomationService.Professional_Services_AutomationPort" name="Professional_Services_Automation" />
      <endpoint address="/Recruiting/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="RecruitingService.RecruitingPort" name="Recruiting" />
      <endpoint address="/Resource_Management/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Resource_ManagementService.Resource_ManagementPort" name="Resource_Management" />
      <endpoint address="/Revenue_Management/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Revenue_ManagementService.Revenue_ManagementPort" name="Revenue_Management" />
      <endpoint address="/Settlement_Services/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Settlement_ServicesService.Settlement_ServicesPort" name="Settlement_Services" />
      <endpoint address="/Staffing/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="StaffingService.StaffingPort" name="Staffing" />
      <endpoint address="/Student_Finance/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Student_FinanceService.Student_FinancePort" name="Student_Finance" />
      <endpoint address="/Student_Records/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Student_RecordsService.Student_RecordsPort" name="Student_Records" />
      <endpoint address="/Student_Recruiting/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Student_RecruitingService.Student_RecruitingPort" name="Student_Recruiting" />
      <endpoint address="/Talent/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="TalentService.TalentPort" name="Talent" />
      <endpoint address="/Tenant_Data_Translation/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Tenant_Data_TranslationService.Tenant_Data_TranslationPort" name="Tenant_Data_Translation" />
      <endpoint address="/Time_Tracking/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Time_TrackingService.Time_TrackingPort" name="Time_Tracking" />
      <endpoint address="/Workday_Connect/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Workday_ConnectService.Workday_ConnectPort" name="Workday_Connect" />
      <endpoint address="/Workday_Extensibility/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Workday_ExtensibilityService.Workday_ExtensibilityPort" name="Workday_Extensibility" />
      <endpoint address="/Workforce_Planning/v28.1" binding="customBinding" bindingConfiguration="wdBinding" contract="Workforce_PlanningService.Workforce_PlanningPort" name="Workforce_Planning" />
    </client>
  </system.serviceModel>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
